TiendaLosAlpes/TiendaLosAlpes-war/web/WEB-INF/wsdl/client/ClienteWebService/localhost_8080/ClienteWS/ClienteWebService.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. --><xs:schema xmlns:tns="http://cliente.losalpes.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://cliente.losalpes.com/">

<xs:element name="CrearCliente" type="tns:CrearCliente"></xs:element>

<xs:element name="CrearClienteResponse" type="tns:CrearClienteResponse"></xs:element>

<xs:complexType name="CrearCliente">
<xs:sequence>
<xs:element name="arg0" type="tns:usuario" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="usuario">
<xs:sequence>
<xs:element name="cliente" type="tns:cliente" minOccurs="0"></xs:element>
<xs:element name="contrasenia" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="nombreUsuario" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="tipoUsuario" type="tns:tipoUsuario" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cliente">
<xs:sequence>
<xs:element name="ciudadResidencia" type="tns:tipoCiudad" minOccurs="0"></xs:element>
<xs:element name="departamento" type="tns:tipoDepartamento" minOccurs="0"></xs:element>
<xs:element name="direccion" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="email" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="nombres" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="numeroDocumento" type="xs:int"></xs:element>
<xs:element name="pais" type="tns:tipoPais" minOccurs="0"></xs:element>
<xs:element name="profesion" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="tarjeta" type="tns:tarjeta" minOccurs="0"></xs:element>
<xs:element name="telefonoCelular" type="xs:long"></xs:element>
<xs:element name="telefonoResidencia" type="xs:int"></xs:element>
<xs:element name="tipoDocumento" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="usuario" type="tns:usuario" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tarjeta">
<xs:sequence>
<xs:element name="clienudo" type="xs:int"></xs:element>
<xs:element name="codigoSeguridad" type="xs:int"></xs:element>
<xs:element name="fechaExpiracionTarjeta" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="monto" type="xs:double"></xs:element>
<xs:element name="numeroTarjeta" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CrearClienteResponse">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:simpleType name="tipoCiudad">
<xs:restriction base="xs:string">
<xs:enumeration value="CIUDAD_1"></xs:enumeration>
<xs:enumeration value="CIUDAD_2"></xs:enumeration>
<xs:enumeration value="CIUDAD_3"></xs:enumeration>
<xs:enumeration value="CIUDAD_4"></xs:enumeration>
<xs:enumeration value="CIUDAD_5"></xs:enumeration>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="tipoDepartamento">
<xs:restriction base="xs:string">
<xs:enumeration value="DEPARTAMENTO_1"></xs:enumeration>
<xs:enumeration value="DEPARTAMENTO_2"></xs:enumeration>
<xs:enumeration value="DEPARTAMENTO_3"></xs:enumeration>
<xs:enumeration value="DEPARTAMENTO_4"></xs:enumeration>
<xs:enumeration value="DEPARTAMENTO_5"></xs:enumeration>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="tipoPais">
<xs:restriction base="xs:string">
<xs:enumeration value="COLOMBIA"></xs:enumeration>
<xs:enumeration value="VENEZUELA"></xs:enumeration>
<xs:enumeration value="ECUADOR"></xs:enumeration>
<xs:enumeration value="BRASIL"></xs:enumeration>
<xs:enumeration value="ARGENTINA"></xs:enumeration>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="tipoUsuario">
<xs:restriction base="xs:string">
<xs:enumeration value="CLIENTE"></xs:enumeration>
<xs:enumeration value="CLIENTE_GOLD"></xs:enumeration>
<xs:enumeration value="CLIENTE_PLATINUM"></xs:enumeration>
</xs:restriction>
</xs:simpleType>
</xs:schema>