TiendaLosAlpes/TiendaLosAlpes-war/src/conf/xml-resources/web-service-references/VentaWebService/wsdl/localhost_8080/VentaWS/VentaWebService.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. --><xs:schema xmlns:tns="http://ventas.losalpes.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ventas.losalpes.com/">

<xs:element name="ComprarMueble" type="tns:ComprarMueble"></xs:element>

<xs:element name="ComprarMuebleResponse" type="tns:ComprarMuebleResponse"></xs:element>

<xs:complexType name="ComprarMueble">
<xs:sequence>
<xs:element name="arg0" type="tns:venta" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="venta">
<xs:sequence>
<xs:element name="ciudad" type="tns:tipoCiudad" minOccurs="0"></xs:element>
<xs:element name="codigoSeguridad" type="xs:int"></xs:element>
<xs:element name="cuotas" type="xs:int"></xs:element>
<xs:element name="departamento" type="tns:tipoDepartamento" minOccurs="0"></xs:element>
<xs:element name="descripcion" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="detalleVenta" type="tns:detalleVenta" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="fechaExpiracionTarjeta" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="fechaGeneracion" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="idCliente" type="xs:int"></xs:element>
<xs:element name="numeroTarjeta" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="pais" type="tns:tipoPais" minOccurs="0"></xs:element>
<xs:element name="referencia" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="valor" type="xs:double"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="detalleVenta">
<xs:sequence>
<xs:element name="cantidadVenta" type="xs:int"></xs:element>
<xs:element name="idDetalleVenta" type="xs:int"></xs:element>
<xs:element name="muebleVendido" type="tns:mueble" minOccurs="0"></xs:element>
<xs:element name="precioVenta" type="xs:double"></xs:element>
<xs:element name="venta" type="tns:venta" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="mueble">
<xs:sequence>
<xs:element name="alto" type="xs:double"></xs:element>
<xs:element name="ancho" type="xs:double"></xs:element>
<xs:element name="cantidad" type="xs:int"></xs:element>
<xs:element name="color" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="descripcion" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="foto" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="material" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="nombre" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="peso" type="xs:double"></xs:element>
<xs:element name="precio" type="xs:double"></xs:element>
<xs:element name="profundidad" type="xs:double"></xs:element>
<xs:element name="referencia" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="tipo" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ComprarMuebleResponse">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:simpleType name="tipoCiudad">
<xs:restriction base="xs:string">
<xs:enumeration value="CIUDAD_1"></xs:enumeration>
<xs:enumeration value="CIUDAD_2"></xs:enumeration>
<xs:enumeration value="CIUDAD_3"></xs:enumeration>
<xs:enumeration value="CIUDAD_4"></xs:enumeration>
<xs:enumeration value="CIUDAD_5"></xs:enumeration>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="tipoDepartamento">
<xs:restriction base="xs:string">
<xs:enumeration value="DEPARTAMENTO_1"></xs:enumeration>
<xs:enumeration value="DEPARTAMENTO_2"></xs:enumeration>
<xs:enumeration value="DEPARTAMENTO_3"></xs:enumeration>
<xs:enumeration value="DEPARTAMENTO_4"></xs:enumeration>
<xs:enumeration value="DEPARTAMENTO_5"></xs:enumeration>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="tipoPais">
<xs:restriction base="xs:string">
<xs:enumeration value="COLOMBIA"></xs:enumeration>
<xs:enumeration value="VENEZUELA"></xs:enumeration>
<xs:enumeration value="ECUADOR"></xs:enumeration>
<xs:enumeration value="BRASIL"></xs:enumeration>
<xs:enumeration value="ARGENTINA"></xs:enumeration>
</xs:restriction>
</xs:simpleType>
</xs:schema>